{% extends "base.html" %} {% block content %}

<h1>MapR-DB Todo List</h1>
<p class="lead">A simple application powered by MapR-DB JSON, Python and Flask</p>

<form action="" role="form" method="POST" name="add_task">
    {{form.hidden_tag()}}
    <p>
        <h4>Create or Update a Task</h4>
        ID: {{form.id(size=5)}} - Title:{{form.title}}
        <input type="submit" value="Save" class="btn btn-default btn-md"> {% for error in form.errors.title %}
        <span style="color: red;">{{ error }}</span> {% endfor %}
    </p>
</form>


{% for task in tasks %}
<li>{{ task._id }}: {{ task.title }} ( <a href="/changes_status/{{ task._id }}/{{ task.status }}    ">{{task.status}}</a> ) </li>
{% endfor %} {% endblock %}